# import the data

In [5]:
import pandas as pd

# Load the Excel file
file_path = 'word_frequency_by_year_2015_2023.xlsx'
df = pd.read_excel(file_path, sheet_name='Sheet1')
df.head() 

# List of columns to be converted to integer
frequency_columns = ['2015_frequency', '2016_frequency', '2017_frequency', 
                     '2018_frequency', '2019_frequency', '2020_frequency', 
                     '2021_frequency', '2022_frequency', '2023_frequency']

# Convert each frequency column to integer, handling non-integer values (errors='coerce' will convert them to NaN)
for col in frequency_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce', downcast='integer')

# Drop rows where all frequency columns are NaN
df= df.dropna(subset=frequency_columns, how='all')

df.head(10)

,2015_word,2015_frequency,2016_word,2016_frequency,2017_word,2017_frequency,2018_word,2018_frequency,2019_word,2019_frequency,2020_word,2020_frequency,2021_word,2021_frequency,2022_word,2022_frequency,2023_word,2023_frequency
0,flying,4.0,robot,10.0,robot,137.0,robot,53.0,robot,148.0,robot,140.0,robot,214.0,robot,477,robot,82.0
1,idea,3.0,people,7.0,food,51.0,people,23.0,people,62.0,people,56.0,one,73.0,people,212,would,22.0
2,would,3.0,though,4.0,people,39.0,delivery,17.0,one,61.0,one,49.0,like,71.0,would,198,people,21.0
3,drone,3.0,car,4.0,job,39.0,work,16.0,get,61.0,like,39.0,delivery,68.0,get,178,one,21.0
4,cool,2.0,love,3.0,human,34.0,food,15.0,like,57.0,thing,39.0,people,67.0,thing,157,cute,18.0
5,see,2.0,might,3.0,get,33.0,job,15.0,thing,55.0,delivery,35.0,job,67.0,one,153,like,17.0
6,nice,1.0,want,3.0,one,30.0,would,11.0,would,48.0,get,33.0,would,66.0,like,151,delivery,15.0
7,good,1.0,pretty,3.0,delivery,29.0,like,10.0,take,46.0,job,33.0,food,59.0,delivery,148,get,15.0
8,hipster,1.0,need,3.0,like,29.0,also,10.0,delivery,40.0,would,30.0,get,59.0,food,135,coco,14.0
9,video,1.0,one,3.0,thing,26.0,get,10.0,food,39.0,cute,29.0,thing,59.0,job,133,make,14.0

# remove word

In [3]:
drop_list1 = ['never', 'dont','cant','wont', 'would', 'could','might', 'may', 'though', 'without','u','im','theyre', 'that','also','yeah']
drop_list2 = ['gp','hipster', 'one', 'thing','lol', 'many', 'still', 'sure']
drop_list3 = ['someone', 'anyone']
drop_list4 = ['think','going']
drop_list5 = ['robot','people']
drop_list3 = ['fantasticbeautiful', 'u', 'r', 'hahahahahahahahahahahhahahaa', 'f', 'b',
              'interdisciplinary', 'd', 'p', 'w', 'trackeralarmcamerayou', 'wwwstarshipxyzfollow',
              'n', 'neighborhoodwatch', 'v', 'x', 'objectsparticularly', 'stationsgroceriy',
              'y', 'unleasheduntrained', 'o', 'h', 'j', 'l', 'e', 'm', 'northamptonshire',
              'wonderfulanother', 'wisconsinmadison', 'westwooduclathem', 'operatingmonitoringdriving',
              'observingtracking', 'scaredconservative', 'anthropomorphising', 'unemploymentthese',
              'c', 'stolenbotknapped', 'pedestrianscyclist', 'catastrophically', 'multiplicatively',
              'watchvzsmttvytqaa','pm']
drop_list = drop_list1 + drop_list2 + drop_list3

In [4]:
for year in range(2015, 2024):
    word_column = f'{year}_word'
    if word_column in df.columns:
        df = df[~df[word_column].isin(drop_list)]
df.head(10)

,2015_word,2015_frequency,2016_word,2016_frequency,2017_word,2017_frequency,2018_word,2018_frequency,2019_word,2019_frequency,2020_word,2020_frequency,2021_word,2021_frequency,2022_word,2022_frequency,2023_word,2023_frequency
0,flying,4.0,robot,10.0,robot,137.0,robot,53.0,robot,148.0,robot,140.0,robot,214.0,robot,477,robot,82.0
7,good,1.0,pretty,3.0,delivery,29.0,like,10.0,take,46.0,job,33.0,food,59.0,delivery,148,get,15.0
18,heard,1.0,bad,2.0,steal,17.0,see,7.0,work,30.0,human,21.0,future,32.0,take,81,time,10.0
38,know,1.0,nice,1.0,going,10.0,right,5.0,bot,18.0,time,13.0,someone,21.0,seen,51,end,6.0
39,better,1.0,wonderfully,3.0,point,10.0,experience,5.0,car,18.0,deliver,13.0,taking,21.0,steal,50,love,6.0
40,option,1.0,cute,1.0,year,10.0,video,5.0,cool,17.0,drone,13.0,order,21.0,long,49,fun,6.0
55,NaN,NaN,proving,1.0,pick,8.0,easy,4.0,stupid,14.0,imagine,10.0,help,17.0,love,42,coop,5.0
56,NaN,NaN,succes,1.0,good,8.0,traffic,4.0,fedex,14.0,know,10.0,day,17.0,got,42,see,5.0
57,NaN,NaN,give,1.0,love,8.0,even,4.0,kick,14.0,make,10.0,guy,17.0,stolen,42,seeing,5.0
65,NaN,NaN,apparently,1.0,already,7.0,year,4.0,camera,13.0,want,9.0,well,16.0,getting,38,well,5.0

In [24]:
df.to_excel('word_frequency_by_year_2015_2023_cleaned.xlsx', index=False)

# recovery

In [10]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package wordnet to C:\Users\Yuchen
[nltk_data]     Du\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Yuchen Du\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

True

# synonyms

In [16]:
import nltk
from nltk.corpus import wordnet
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to C:\Users\Yuchen
[nltk_data]     Du\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [17]:
synonyms_dict = {
    'robot': ['automaton', 'android', 'cyborg'],
    'people': ['individuals', 'persons', 'humans'],
    'steal': ['pilfer', 'thieve', 'swipe'],
    'wonderful': ['marvelous', 'remarkable', 'magnificent'],
    'nice': ['pleasant', 'agreeable', 'delightful'],
    'cute': ['adorable', 'charming', 'endearing']
}

In [ ]:
for year in range(2015, 2024):
    word_column = f'{year}_word'
    freq_column = f'{year}_frequency'

    if word_column in df.columns and freq_column in df.columns:
        for word, synonyms in synonyms_dict.items():
            for synonym in synonyms:
                if synonym in df[word_column].values:
                    df.loc[df[word_column] == word, freq_column] += df.loc[df[word_column] == synonym, freq_column]
                    df = df[df[word_column] != synonym]